/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body{
    font-family: 'Fredoka', sans-serif;
    
}

h1{
    margin: 3rem auto;
    font-size: 2.5rem;
    color: #e53371;   
}

h3{
    margin-bottom: 4rem;
}

img{
    height: 120px;
    float: left; 
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: #4d9fc1;
}


/*utility*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.column{
    float: left; 
    background-color: black;
    color: white;
    width: calc(100% / 3 - 0.4rem);
    margin-left: 0.4rem;
    margin-top: 1rem;        
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.profile{
    padding-top: 10px;
}

.text-center{
    text-align: center;
}


.profile p{
    margin: 10px auto;
}
